@font-face{
  font-family: 'RobotMono';
  src: url('./fonts/RobotoMono-Thin.ttf')
}

*{
  font-family: 'RobotoMono', monospace;
}

body{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  color:#fff;
  font-weight: 100;
  background: linear-gradient(90deg, rgba(67,38,97,1) 0%, rgba(34,96,130,1) 50%, rgba(65,77,139,1) 100%);
}